@import "./src/scss/palette";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, 'Rubik Mono One', sans-serif;
  outline: none;
}

h1{
  font-size: 60px;
  line-height: 64px;
  font-weight: bold;
  color: rgba($simpleBrandyRose, .7);
}

.page {
  &-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
}