$colorBlack: #000;
$colorWhite: #fff;

//simple side
$simpleFrenchGrey: #bebec8;
$simpleSandai: #af856b;
$simpleBrandyRose: #d09a4e;
$simplePickledBean: #6a4428;
$simpleChambray: #0D0A49;
$simpleRaven: #7c848d;

