@import '../../scss/palette';
@import '../../scss/mixins';

.pageOverlay{
  width: 100%;
  height: 100%;
  position: relative;
  &.flexPageOverlay{
    @include flex-item;
    &.justifyEnd{
      justify-content: flex-end;
    }
  }
}

.blockOverlay{
  width: 1342px;
  height: 100%;
  margin: 0 auto;
  padding: 35px 0;
}