.list{
  $self: &;

  margin-bottom: 30px;

  &__add-button {
    opacity: .6;

    &:hover {
      opacity: 1;
    }
  }

  &__remove-icon{
    display: block;
    opacity: 0;
  }

  li{
    display: flex;
    align-items: center;
    padding: 10px 12px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: background-color .1s ease-in-out;

    &:hover {
      background-color: rgba(255,255,255,.5);
    }

    &:hover #{$self}__remove-icon {
      opacity: .2;
    }

    #{$self}__remove-icon {
      opacity: 0;
      transition: opacity .15s ease-in-out;

      &:hover {
        opacity: .8;
      }
    }

    span {
      flex: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 160px;
      white-space: nowrap;
    }

    &.item_active{
      background: #FFFFFF;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
    }

    i{
      display: inline-flex;
      margin-right: 8px;

      img{
        opacity: .6;
      }
    }
  }
}